//  IMPORT PARTIALS

@import './reset';
@import './variables';
@import './mixins';

/*-------------------------------------
*** GENERAL
-------------------------------------*/

body {
	background-image: $background-color;
	background-size: cover;
	background-position: center;
	font-family: $mainFont;
	font-weight: 300;
	position: relative;
	height: 100vh;
	color: $text-color;

	.wrapper {
		width: 100rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
		overflow: hidden;
	}
}

.player-0-panel,
.player-1-panel {
	width: 50%;
	float: left;
	height: 60rem;
	padding: 10rem;
	transition: all ease-in .3s;
}

/**********************************************
*** PLAYERS
**********************************************/

.player-name {
	font-size: 4rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
}

.player-score {
	text-align: center;
	font-size: 80px;
	font-weight: 100;
	color: $primaryColor;
	margin-bottom: 130px;
}

.rolled {
	text-align: center;
	display: block;
	color: $primaryColor;
	padding: 30px;
	font-size: 2.5rem;
	font-weight: 100;
}

.unlucky {
	font-weight: bold;
}

.active {
	background-color: #f7f7f7;
	transition: all ease-in .3s;
}
.active .player-name {
	font-weight: 300;

	&:after {
		content: "\2022";
		font-size: 47px;
		position: absolute;
		color: $color-red;
		top: -7px;
		right: 10px;
		animation: pulse 1.5s infinite;
		animation-timing-function: ease-in-out;
	}
}
@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	40% {
		transform: scale(.7);
		opacity: 0.9;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.player-current {
	background-color: $primaryColor;
	transition: ease-in-out .9s;
	color: #fff;
	width: 40%;
	height: 25%;
	margin: 0 auto;
	padding: 12px;
	text-align: center;
	border-radius: 6px;
	box-shadow: 0px 4px 60px rgba(121, 105, 255, 0.6);

	&__label {
		text-transform: uppercase;
		margin-bottom: 10px;
		font-size: 1.3rem;
		font-weight: 700;
		color: #453a9d;
	}

	&__score {
		font-size: 30px;
	}
}

.rolled-txt {
	display: flex;
	font-size: 1.5rem;
	align-items: center;
	justify-content: center;
}

button {
	position: absolute;
	width: 20rem;
	left: 50%;
	transform: translateX(-50%);
	color: #555;
	background: none;
	border: none;
	font-family: $mainFont;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 300;
	transition: background-color 0.3s, color 0.3s;
}

button:hover {
	font-weight: 600;
}
button:hover i {
	margin-right: 20px;
}

button:focus {
	outline: none;
}

i {
	color: #eb4d4d;
	display: inline-block;
	margin-right: 15px;
	font-size: 32px;
	line-height: 1;
	vertical-align: text-top;
	margin-top: -4px;
	transition: margin 0.3s;
}

.btn-new {
	top: 45px;
}
.btn-roll {
	top: 403px;
}
.btn-hold {
	top: 467px;
}

.dice {
	position: absolute;
	left: 45%;
	top: 178px;
	height: 100px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.diceSpin {
	animation-name: spin;
	animation-duration: 1000ms;
}

.change-player {
	animation-name: changePlayer;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.winner {
	background-color: #f7f7f7;
	.player-name {
		font-weight: 300;
		color: #eb4d4d;
	}
}
